body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}


@font-face {
  font-family: "Nunito Sans";
  src: url(./fonts/NunitoSans-Regular.ttf);
}

* {
  font-family: "Nunito Sans";
  box-sizing: border-box;

}
